@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

html {
  position: relative;
  min-height: 100%;
}

main {
  margin-bottom: 270px;
  /*modifier 250px*/
}

//FOOTER
footer.footer {
  padding: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

p {
  font-family: $font-family-serif;
  font-size: 18px;
}

// PAGE D'ACCUEIL BIG TITLE
.hero-scene {
  position: relative;
  margin-bottom: 15px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/FondHeroScene.jpg);
    background-size: cover;
    filter: brightness(0.3); // luminosité 30%
  }

  * {
    //Positionner les éléments devant le ::before
    position: relative;
  }

  .hero-scene-content {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  *.text-justify {
    text-align: justify;
  }
}

// PAGE GALERIE IMAGES 'plus mode tactile responsive'
.image-card {
  position: relative;
  &:hover {
    .titre-image,
    .action-image-buttons {
      // Bouton modale edité et suprimer image galerie
      opacity: 1;
    }
    img {
      filter: brightness(0.3); // opacité de l'image 30%
    }
  }

  img {
    transition: all 0.3s;
  }

  .titre-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.3s; //ajout "all" correctif
  }

  /*== BOUTON MODAL GALERIE ==*/
  .action-image-buttons {
    //Test: background-color: red !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    /* cacher par défaut */
    opacity: 0;
    transition: opacity 0.3s;
  }
}

// FORMULAIRE CONNEXION
.form-label {
  color: $primary;
}

//FORMULAIRE DE RESERVATION
.allreservations {
  a {
    display: block;
    color: black;
    padding: 10px;
  }
}


.is-valid {
  border-color: #28a745 !important; /* Vert */
}

.is-invalid {
  border-color: #dc3545 !important; /* Rouge */
}
